@font-face {
    font-family: 'Ownglyph_wiseelist-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/Ownglyph_wiseelist-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e9ebf5;
  }
  
 body {
    font-family: 'Ownglyph_wiseelist-Rg', sans-serif;
    line-height: 1.6;
    overflow: auto
 }

 .page-plan{
    width: 100vw; 
    height: 100vh; 
    flex-shrink: 0;
  }


h1 {
        font-size: 6rem;
        margin-bottom: 10px;
        text-align: center;
}

p {
        font-size: 1.7rem;
        text-align: center;
}

.nav-page {
    position: relative;
    top: 0; 
    right: 0;
    width: 100%; 
  }
.nav-page ul{
    display: flex;
    justify-content: right;
    gap: 3rem;
    list-style-type: none;
    margin-right: 3rem;
    margin-bottom : 3rem;

  }
.nav-page li {
    font-size: 2rem;
  }
.nav-page a{
    text-decoration: none;
    color: #000000;
  }
  
.nav-page a:hover{
    color :#3e82e9
  }

.m-img {
    display: block; 
    margin: 3% auto; 
    width: 600px; 
    height: auto; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
  }



