@media screen and (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    p {
        font-size: 1.2rem;
    }
    .nav-page ul, .nav ul {
        flex-direction: row;
        gap: 1rem;
        text-align: center;
    }
    .nav-page ul li, .nav ul li {
        font-size: 0.8rem;
    }
    
    /*홈 */
    .profile-card {
        width: 300px;
        height: 300px;
    }
    
    /*About Me*/
    .about-content {
        flex-direction: column;
        gap: 2rem;
    }
    .m-img {
        width: 80%;
    }
    
    /*Like*/
    .like-container {
        flex-direction: column;
        width: 90%;
        gap: 20px;
    }
    .like-img, .travel-img {
        width: 80%;
    }
    
    /*Plan*/
    .m-img {
        width: 90%;
    }

    /* Modal 반응형*/
    .modal-content {
        width: 90%;
        max-width: 400px;
        padding: 15px;
    }
    iframe {
        width: 100%;
        height: 200px;
    }
}
